/* Общие стили */

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: no-wrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;

  min-width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

/* Стили для главной страницы*/

.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 70px;
}

.header-logo {
  margin-right: 30px;
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation-list {
  padding: 0;
  margin: 0;
  margin-left: 238px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.navigation-link {
  display: inline-block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.user-link {
  text-decoration: none;
  width: 20px;
  height: 20px;
  padding: 22px 12px;
  background-color: #857979;
}

.search {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
}

.search::before {
  content: "";
  background-image: url("../images/search.svg");
}

.favorite-hotels {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
}

.button {
  display: inline-block;
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  margin-left: 20px;
}

.promo {
  text-align: center;
  padding-top: 51px;
  padding-bottom: 71px;
  background-color: #71575c;
  background-image: url("../images/background/promo-divider.svg"), url("../images/background/promo-background.jpg");
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  background-repeat: no-repeat;
}

.advantages {
  padding-top: 69px;
  padding-bottom: 64px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantages-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 112px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 113px;
  background-color: #82b3d3;
}

.advantages-img-item {
  display: flex;
  flex-direction: row;
  grid-column: span 3;
  background-color: #82b3d3;
}

.img-item-wrapper {
  display: flex;
  flex-direction: column;
  padding: 102px 0;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-item-opacity-12 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-opacity-20 {
  background-color: rgba(131, 179, 211, 0.2);
}

.title {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.advantages-main-title {
  width: 620px;
  margin-bottom: 25px;
}

.advantages-main-subtitle {
  width: 651px;
  margin-bottom: 90px;
}

.advantages-title {
  width: 175px;
  margin: 0 auto;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title-white {
  color: #ffffff;
}

.advantages-description {
  margin: 0;
}

.advantages-description-white {
  color: #ffffff;
}

.advantages-img-right {
  order: -1;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.services-item {
  display: flex;
  width: 400px;
  min-height: 385px;
  padding: 81px 85px;
  flex-direction: column;
  text-align: center;
}

.services-item-opacity-12 {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  margin: 0;
}

.services-main-title {
  width: 505px;
}

.services-main-subtitle {
  width: 490px;
  margin-bottom: 64px;
}

.hotel-search {
  padding: 96px 0;
  text-align: center;
}

.search-subtitle {
  margin-bottom: 54px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-image {
  background-color: #516754;
  background-image: url("../images/background/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-subscribe-title {
  color: #ffffff;
}

.page-subscribe-subtitle {
  color: #ffffff;
  margin-bottom: 54px;
}

.catalog-subscribe-subtitle {
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-field {
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  width: 452px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.catalog-subscribe-field {
  background-color: #f2f2f2;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.footer-container {
  padding: 45px 70px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.social-link {
  width: 48px;
  height: 40px;
  display: block;
  background-color: #7db54f;
}

.phone {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}


/* Стили для страницы каталога*/

.hotels {
  display: flex;
  flex-direction: column;
  padding: 35px 70px 70px;
  background-color: #857979;
  background-image: url("../images/background/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.hotels-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

.filter-form {
  display: grid;
  grid-template-columns: repeat(150px 150px 288px 191px);
}

.filter-list {
  list-style: none;
}

.control-input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.filter-group {
  border: none;
}

.infrastructure-group {
  grid-column: 1/2;
}

.house-type-group {
  grid-column: 2/3;
}

.filter-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.price-field {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 24px;
  width: 143px;
  padding: 8px 20px;
  border: none;
  color: #000000;
}

.price-group {
  display: flex;
  gap: 2px;
  grid-column: 3/4;
}

.text-from-to {
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.price-from {
  border-radius: 4px 0 0 4px;
}

.price-to {
  border-radius: 0 4px 4px 0;
}

.filter-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
  text-transform: uppercase;
  color: #ffffff;
  grid-column: 4/5;
}

.button-submit {
  display: block;
}

.button-reset {
  background-color: transparent;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-cards {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-view {
  display: flex;
  align-items: center;
}

.view-text {
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: auto;
}

.view-sorting {
  display: inline-block;
  height: 48px;
  padding-left: 20px;
  padding-right: 131px;
  font-family: inherit;
  font-size: inherit;
  line-height: 21px;
  color: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-option {
  margin: 0;
  padding: 0;
}

.view-list {
  list-style: none;
  display: flex;
  gap: 8px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;
  padding: 16px 17px;
  border: 2px solid #e5e5e5;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0;
  list-style: none;
}

.cards-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.cards-link {
  grid-column: span 2;
  color: #000000;
  text-decoration: none;
}

.cards-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.cards-description {
  margin: 0;
  grid-column: span 2;
}

.cards-details {
  width: 140px;
  padding: 8px 26px;
  font-size: 16px;
}

.cards-favorites {
  font-family: inherit;
  width: 140px;
  padding: 8px 20px;
  font-size: 16px;
  background-color: #82b3d3;
}

.cards-favorites-current {
  padding: 8px 18px;
  background-color: #7db54f;
}

.rating-stars {
  display: block;
  width: 140px;
}

.reting-amount {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 8px 22px;
}

.pagination-list {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
}

.pagination-link {
  width: 60px;
  height: 60px;
  padding: 12px;
  text-align: center;

  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;

  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-more {
  padding-top: 17px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
}
