/* Общие стили */

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: no-wrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  min-width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100vh;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main {
  flex-grow: 1;
}


/* Стили для главной страницы*/

/* ====== HEADER ====== */

.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 70px;
  padding-left: 238px;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation-list {
  width: 500px;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 16px;
  right: 15px;
  bottom: 0;
  background-color: #756257;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

.user-link {
  display: block;
  position: relative;
  text-decoration: none;
  width: 44px;
  height: 64px;
}

.user-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.user-link-loop::before {
  background-image: url("../images/search.svg");
}

.user-link-heart::before {
  background: url(../images/heart.svg) no-repeat;
}

.favorite-hotels {
  display: block;
  min-width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 4px;
  padding: 5px 1px;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #7db54f;
}

.button {
  display: block;
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  margin-left: 20px;
}


/* ====== SECTION PROMO ====== */

.promo {
  text-align: center;
  padding-top: 51px;
  padding-bottom: 78px;
  background-color: #71575c;
  background-image: url("../images/background/promo-divider.svg"), url("../images/background/promo-background.jpg");
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  background-repeat: no-repeat;
}

.advantages {
  padding-top: 69px;
  padding-bottom: 64px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantages-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 112px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 113px;
  background-color: #82b3d3;
}

.advantages-img-item {
  display: flex;
  flex-direction: row;
  grid-column: span 3;
  background-color: #82b3d3;
}

.img-item-wrapper {
  display: flex;
  flex-direction: column;
  padding: 102px 0;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-item-opacity-12 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-opacity-20 {
  background-color: rgba(131, 179, 211, 0.2);
}

.title {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  width: 670px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.advantages-main-title {
  margin-bottom: 25px;
}

.advantages-main-subtitle {
  margin-bottom: 90px;
}

.advantages-title {
  position: relative;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 32px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title-white {
  color: #ffffff;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.3);
}

.advantages-title-white::after {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  margin: 0;
}

.advantages-description-white {
  color: #ffffff;
}

.advantages-img-right {
  order: -1;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.services-item {
  display: flex;
  position: relative;
  width: 400px;
  min-height: 385px;
  padding: 81px 85px;
  padding-top: 183px;
  flex-direction: column;
  text-align: center;
}

.services-item::before {
  content: "";
  position: absolute;
  top: 82px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  display: block;
  width: 75px;
  height: 72px;
}

.services-item-house::before {
  background-image: url("../images/service-icons/house-icon.svg");
}

.services-item-food::before {
  background-image: url("../images/service-icons/food-icon.svg");
}

.services-item-souvenir::before {
  background-image: url("../images/service-icons/souvenir-icon.svg");
  top: 79px;
  width: 64px;
  height: 76px;
}

.services-item-opacity-12 {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  margin: 0;
}

.services-main-title {
  width: 505px;
}

.services-main-subtitle {
  margin-bottom: 64px;
}

.hotel-search {
  padding: 96px 0;
  text-align: center;
}

.search-subtitle {
  margin-bottom: 54px;
}

.search-button {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}


/* ====== SECTION SUBSCRIBE */

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-image {
  background-color: #516754;
  background-image: url("../images/background/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-subscribe-title {
  color: #ffffff;
}

.subscribe-subtitle {
  margin-bottom: 54px;
}

.page-subscribe-subtitle {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-field {
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  width: 452px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}


/* ====== FOOTER ====== */

.footer-container {
  padding: 45px 70px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.social-link {
  width: 47px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link::after {
  content: "";
  background-repeat: no-repeat;
}

.social-link-vkontakte::after {
  width: 24px;
  height: 14px;
  background-image: url("../images/social-icons/social-icon-vkontakte.svg");
}

.social-link-telegram::after {
  width: 18px;
  height: 16px;
  background-image: url("../images/social-icons/social-icon-telegram.svg");
}

.social-link-youtube::after {
  width: 22px;
  height: 17px;
  background-image: url("../images/social-icons/social-icon-youtube.svg");
}

.phone {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.copyright-img {
  display: block;
}

/* ====== MODAL-CONTAINER */

.modal-container-clozed {
  visibility: visible;
}
.modal-container {
  position: absolute;
  top: 396px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 717px;
  padding: 64px 70px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 #00000026;
}

.modal-button {
  position: absolute;
}

.modal-button-close {
  display: inline-block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border-style: none;
  top: 64px;
  right: 52px;
}

.modal-button-close:hover,
.modal-button-close:focus,
.modal-button-close:active {
  background-color: #e6e6e6;
}

.modal-button-close:focus {
  outline: 3px solid #83B3D3;
}

.modal-button-close:active svg{
  fill: rgba(0, 0, 0, 0.3);
}

.modal-title {
  text-align: start;
  margin-bottom: 64px;
}

.modal-field {
  padding: 0;
  margin: 0;
  border-style: none;
}

.modal-field-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.modal-field-persons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.modal-field-control {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.modal-field-input::-webkit-outer-spin-button,
.modal-field-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-field-input {
  display: block;
  height: 48px;
  padding: 12px;
  padding-left: 20px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-style: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.modal-field-input:hover {
  background-color: #e6e6e6;
}

.modal-field-input:focus {
  outline: 3px solid #83b3d3;
}

.date-field-calendar {
  position: absolute;
  top: 16px;
  right: 22px;
  border-style: none;
  width: 16px;
  height: 15px;
  background-image: url("../images/calendar-icon.svg");
  color: rgba(0, 0, 0, 0.3);
}

.date-input {
  min-width: 440px;
}

.persons-input {
  text-align: center;
}

.persons-input {
  display: inline-block;
  width: 110px;
  line-height: 20px;
  padding: 14px 0;
  margin-left: 46px;
}

.persons-button:hover {
  outline: 3px solid #82B3D3;
}

.persons-sub-button {
  position: absolute;
  top: 23px;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  border-style: none;
}

.persons-add-button {
  position: absolute;
  top: 15px;
  width: 14px;
  height: 14px;
  border-style: none;
}

.adults-sub-button {
  left: 150px;
}

.adults-add-button {
  left: 221px;
}

.childs-sub-button {
  left: 144px;
}

.childs-add-button {
  left: 215px;
}

.modal-other-text {
  display: block;
  font-size: 16px;
  line-height: 21px;
  padding: 0 20px;
  margin-left: 137px;
  margin-bottom: 23px;
}

.incorrect-date-text {
  color: #ff5757;
}

.childs-notice-info {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/childs-notice-info-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
}

.modal-search-button {
  border-radius: 10px;
  padding: 18px 256px;
}

.modal-search-button:hover,
.modal-search-button:focus,
.modal-search-button:active {
  border-style: none;
  background-color: rgba(104, 162, 202, 1);
}

.modal-search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.childs-text-container {
  width: 256px;
  position: absolute;
  bottom: 25px;
  left: 350px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: rgba(51, 51, 51, 1);
  border-radius: 10px;
  padding: 15px 22px;
}

.childs-text-container::before {
  content: "";
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../images/triangle-of-notice-text.svg");
}


/* Стили для страницы каталога*/

.hotels {
  display: flex;
  flex-direction: column;
  padding: 35px 70px 70px;
  background-color: #857979;
  background-image: url("../images/background/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.hotels-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link-home::before {
  content: "";
  display: block;
  background-image: url("../images/breadcrumbs-home-icon.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
}

.breadcrumbs-arrow::before {
  content: "";
  display: block;
  background-image: url("../images/breadcrumbs-arrow-icon.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 11px;
}

.filter-form {
  display: flex;
}

.filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.filter-control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  left: 0;
  border-radius: 4px;
}

.filter-control-input[type="radio"] + .filter-control-mark {
  border-radius: 50%;
}

.filter-control-input[type="checkbox"]:checked + .filter-control-mark::before {
  content: "";
  position: absolute;
  background-image: url("../images/checkbox-icon.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-control-input[type="radio"]:checked + .filter-control-mark::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-control-label {
  line-height: 23px;
}

.infrastructure-group {
  margin-right: 70px;
}

.house-type-group {
  margin-right: auto;
}

.filter-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0;
  margin-bottom: 32px;
}

.price-group {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2px;
  margin-right: 70px;
  padding-bottom: 8px;
}

.price-group-container {
  display: flex;
  gap: 2px;
  margin-bottom: 42px;
}

.price-group-from-to {
  position: relative;
}

.price-input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 24px;
  width: 143px;
  height: 48px;
  margin: 0;
  padding: 8px 20px;
  border: none;
  color: #000000;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-text {
  position: relative;
  display: block;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.price-text-from {
  position: absolute;
  top: 12px;
  right: 20px;
}

.price-text-to {
  position: absolute;
  top: 12px;
  right: 20px;
}

.price-input-from {
  border-radius: 4px 0 0 4px;
}

.price-input-to {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  display: block;
  padding: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border-style: none;
}

.range-toggle-min {
  top: -8px;
}

.range-toggle-max {
  top: -8px;
  right: 0;
}

.filter-button {
  display: block;
  width: 191px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0;
  text-transform: uppercase;
  color: #ffffff;
  grid-column: 4/5;
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.button-submit {
  display: block;
  margin-bottom: 32px;
}

.button-reset {
  background-color: transparent;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-cards {
  padding-bottom: 40px;
  margin-bottom: 39px;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-view {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.view-text {
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: auto;
}

.view-sorting {
  display: block;
  width: 292px;
  height: 49px;
  padding-left: 18px;
  padding-right: 32px;
  margin-right: 70px;
  font-family: inherit;
  font-size: inherit;
  line-height: 21px;
  color: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/select-arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: top 18px right 19px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sorting-option {
  margin: 0;
  padding: 0;
}

.view-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}

.view-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
}

.view-link::after {
  content: "";
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.view-link-tile::after {
  background-image: url("../images/view-icons/view-icon-tile.svg");
}

.view-link-cards::after {
  background-image: url("../images/view-icons/view-icon-cards.svg");
}

.view-link-list::after {
  background-image: url("../images/view-icons/view-icon-list.svg");
}

.view-link-active {
  border: 2px solid #000000;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  row-gap: 16px;
  column-gap: 20px;
  padding: 19px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.cards-link {
  grid-column: span 2;
  color: #000000;
  text-decoration: none;
}

.cards-img {
  display: block;
}

.cards-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.cards-description {
  display: flex;
  justify-content: space-between;
  margin: 0;
  grid-column: span 2;
}

.cards-details {
  width: 140px;
  padding: 8px 26px;
  font-size: 16px;
}

.cards-favorites {
  font-family: inherit;
  width: 140px;
  padding: 8px 20px;
  font-size: 16px;
  background-color: #82b3d3;
}

.cards-favorites-current {
  padding: 8px 18px;
  background-color: #7db54f;
}

.rating-stars {
  display: block;
  background-image: url("../images/rating-star-icon.svg");
  background-repeat: space no-repeat;
  background-position: left center;
}

.four-stars {
  width: 79px;
}

.three-stars {
  width: 65px;
}

.two-stars {
  width: 41px;
}

.reting-amount {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 8px 22px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
}

.pagination-link {
  width: 60px;
  height: 60px;
  padding: 12px;
  text-align: center;

  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;

  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-more {
  padding-top: 17px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
}

.catalog-subscribe-field {
  background-color: #f2f2f2;
}
